ErrorDocument 404 /vendor/autoload/template/html/error/404.php
<IfModule mod_rewrite.c>
  RewriteEngine On
RewriteRule ^login/?$ /php/login.php [NC,L]
RewriteRule ^register/?$ /php/register.php [NC,L]
</IfModule>